<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>EJS Welcome to <%= title %></p>
    <p>Sending <%= msg %></p>
    <p><%= locals.name %></p>
    <hr>
    <%- include('widgets/user-info',{
      me
    })%>
    <hr>
  <%- include('widgets/blog',{blogs})%>
    <hr>
  <h1><%= locals.views %></h1>
  </body>
</html>
